<div class="container mt-5">
  <div *ngIf="!registerMode" style='text-align: center;'>
      <h1>Seja bem vindo ao sistema CBICustomers-APP</h1>

      <div *ngIf="visibleButton" class="text-center">
          <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Cadastrar</button>
      </div>
  </div>

  <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
          <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
          </div>
      </div>
  </div>
</div>
